.navbar{
    background-color: pink;
    display: flex; /*all items of list are included to the container div*/
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color: black;
}

li{
    list-style-type: none; /*bullet of unorder list is removed*/
}

.outer{
    height: 400px;
    width: 400px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    
}


/* 
1. create a nav bar with 4 options in the form of anchor tags inside list items.
Use flexbox to space them evenly in a single line.

2. Use flex box to center one div inside another div


3. which has higher priority: align items or align self
Ans: Align self has higher priority. As align items are used for containers (flex) and align self are used for items (flex)*/