div{
    height: 200px;
    width: 200px;
    background-color: chocolate;
    border: 2px solid black;
    transition-property: all; /*transition applied to all: hover and active both*/
    transition-duration: 2s;
    /* transition-timing-function: steps(5); */
    transition-timing-function: ease-in;
    transition-delay: 1s; /*pauses 1second to perform the function*/

}

div:hover{
     background-color: aqua;
     color: white;
     font-size: 20px;
}

div:active{
    background-color: pink;
}

/* hover: mouse touch on div
active: mouse click and hold */