/*
Practice Set 8
Qs: Create a simple loader using CSS

Step 1: create a div with circular shape & a thick border from one end
(top/bottom/left/right)

Step2 : To make it spin create an animation which transforms it from Odeg to 360deg

Step3: Add the animation property to the loader with infinite durati

*/

div{
  height: 200px;
  width: 200px;
  border: 20px solid #56351E;
  border-top: 20px solid #f19953;
  border-radius: 50%;
  animation: spinAnimate 3s ease-in-out 0s infinite normal; 
  /*animation name | duration | timing function | delay | iteration count | direction */
  
}

@keyframes spinAnimate{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}